{% extends 'users/main.html' %}
{% block content %}
{% load crispy_forms_tags %} 

<div class="header-bar">
    <h1>Welcome to To-Do List </h1>
</div>


<div class="card-body">
    
    <form method="POST" class="was-validated"  >
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            
                {{ message }}
            
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{form.non_field_errors}}
            
        </div>
        {% endif %}
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="id_username" class="small mb-1">Username</label>
              <input type="text" class="form-control" id="id_username" placeholder="Enter username" name="username" required>
            </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label ffor="id_password" class="small mb-1">Password</label>
              <input type="password" class="form-control" id="id_password" placeholder="Enter password" name="password" required>
            </div>
            </div>
        </div>        
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            
                <input class=" btn btn-dark" type="submit" value="Login">
           
            </div>
        </div>  
        
    </form> 
    <div class="form-row">
        <div class="col-md-10 offset-md-1">
            <br>
            <a  href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
            <br>
            <h6 style="color:black">Or</h6>
            <a  href="{% url 'register' %}">Register a new account?</a>
       
        </div>
    </div>  

</div>

{% endblock content%}