{% extends 'users/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Register</h1>
</div>




<div class="card-body">
    <form method="POST" novalidate>
        {% csrf_token %}
        
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="id_username" class="small mb-1">Username</label>
              {{form.username}}
                {% for error in form.username.errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            </div>
            
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="id_email" class="small mb-1">Email</label>
              {{form.email}}
                {% for error in form.email.errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            </div>
            
            </div>
        </div>
    
        
    
        {% load static %}
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label title="Password must be atleast 8 characters" for="id_password1" class="small mb-1">Password &nbsp;<img src="{% static 'base/info.svg' %}" width="15" height="15"></label>
              {{form.password1}}
                {% for error in form.password1.errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            </div>
            
            </div>
        </div>
        <!-- <div class="mb-3">
            <label title="Password must be atleast 8 characters" for="id_password1" class="form-label">Password: &nbsp;<img src="{% static 'base/info.svg' %}" width="15" height="15"></label>
            {{form.password1}}
            {% for error in form.password1.errors %}
                <p class="text-danger">{{error}}</p>
            {% endfor %}
            
        </div> -->
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="id_password2" class="small mb-1">Password confirmation</label>
              {{form.password2}}
                {% for error in form.password2.errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            </div>
            
            </div>
        </div>
        <!-- <div class="mb-3">
            <label for="id_password2" class="form-label">Password confirmation:</label>
            {{form.password2}}
            {% for error in form.password2.errors %}
                <p class="text-danger">{{error}}</p>
            {% endfor %}
        </div> -->
        <div class="form-row">
            <div class="col-md-10 offset-md-1">
            
                <button class="btn btn-dark" type="submit">Register</button>
           
            </div>
        </div>  
             
    </form>
    <div class="form-row">
        <div class="col-md-10 offset-md-1">
            <br>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>  
</div>

{% endblock content%}