{% extends 'users/main.html' %}
{% block content %}
{% load crispy_forms_tags %}   
<div class="header-bar">
    <h1>Register</h1>
</div>



<div class="card-body">
    <form method="POST">
		{% csrf_token %}
		<!-- {{ register_form|crispy }} -->
        <label >{{ register_form.username.label }}</label>
        {{ register_form.username }}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
                <ul class="messagelist">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message}}</li>{% endfor %}</ul>
        </div>
        {% endif %}
        {% load static %}
        <label title="Password must be atleast 8 characters">{{ register_form.password1.label }} <img src="{% static 'base/info.svg' %}" width="15" height="15"> </label>
        
        {{ register_form.password1 }}

        <label>{{ register_form.password2.label }}</label>
        {{ register_form.password2 }}    
        <label></label>                
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content%}
       
