{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    
    <div>
        <h1> Hello {{request.user|title}}</h1>
        <h3 style="margin:0">Select Your List</h3>
    </div>
    
    {% if request.user.is_authenticated %}
    
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>
<a id="add-link" href="{% url 'list-create' %}" style="text-decoration: none;">&#x2b;</a>


<div id="tasklist" class="task-items-wrapper">
    <!-- <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            <strong>&nbsp; List Title:</strong>
            <strong>&nbsp; List Description</strong>
        </div>
        <div class="task-controls">
            <strong> Edit&nbsp; Delete&nbsp;&nbsp;</strong>
        </div>
    </div> -->
    {% for list in lists %}
    <div class="task-wrapper" data-position="{{list.pk}}">
        
        <div class="task-title">
            
            <!-- <div class="task-incomplete-icon"></div> -->
            <a href="{% url 'tasks' list.id %}" title="{{list.description}}">{{list}}</a> 
            <!-- <a href="{% url 'tasks' list.id %}">{{list.description}}</a> -->
            
        </div>

        <div class="task-controls">
            <a href="{% url 'list-update' list.id %}" style="text-decoration: none;">&#x22EE;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            
            <a class="delete-link" href="{% url 'list-delete' list.id %}">&#215;&nbsp;&nbsp;&nbsp;</a>
            
        </div>

        
        
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new lists are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'list-create' %}">New List</a> ! </h3>
    </div>
    {% endfor %}
    
</div>

{% endblock content%}

