{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'lists' %}">&#8592; Back</a>
</div>


<div class="header-bar">
    <div>
        <h1> Hello {{request.user|title}} </h1>
        <h3 style="margin:0">You have <i>{{count}} </i> incomplete tasks from {{listname}}</h3>

    </div>
    
    {% if request.user.is_authenticated %}
    
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>

<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
        <select id="Priority" name="search-area-Priority" placeholder="Priority" value="{{search_input_Priority}}">
            <option value="">All</option>
            <option value="Very High">Very High</option>
            <option value="High">High</option>
            <option value="Mid">Mid</option>
            <option value="Low">Low</option>
            <option value="Very Low">Very Low</option>
            
          </select>
        <input class="button" type="submit" value='Search'>
    </form>

    <!-- <form method="GET" style="display: flex;">
        <input type='text' name='search-area-tags' placeholder="Tags" value="{{search_input_tags}}">
        <input class="button" type="submit" value='Search'>
        <select id="tags" name="search-area-tags" placeholder="Tags" value="{{search_input_tags}}">
            <option value="green">green</option>
            <option value="yellow">yellow</option>
            <option value="orange">orange</option>
            <option value="red">red</option>
            <option value="black">black</option>
            <option value="">All</option>
          </select>
          <input class="button" type="submit" value='Search'>
    </form> -->


    {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' list.id %}"> &#x2b;</a>
    {% endif %}
</div>




<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
        {% if task.id  %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.complete %}
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' listid=list.id pk=task.id %}">{{task}} </a></s></i> 
                {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' listid=list.id pk=task.id %}">{{task}}</a> {% endif %}
            </div>
            <div class="task-controls">
                <span class="handle">&nbsp;{{task.Priority}}</span>
                <a class="delete-link" href="{% url 'task-delete' listid=list.id pk=task.id %}">&#215;&nbsp;&nbsp;&nbsp;</a>
                
            </div>
            
            
        </div>
        {% endif %}
        {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h3>No new tasks are created.</h3>
            <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' list.id %}"> New task</a> ! </h3>
        </div>
        
    {% endfor %}
</div>

{% endblock content%}

