{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'lists' %}">&#8592; Back</a>
    {% if request.user.is_authenticated %}
    
    <a id="logout" href="{% url 'logout' %}" class="btn btn-sm btn-danger">Logout</a>
    {% else %}
    <a id="logout" href="{% url 'login' %}" class="btn btn-danger">Login</a>
    {% endif %}
</div>


<div class="header">
    <div>
        <h4> Hello {{request.user|title}} </h4>
        {% if total == 0 %}
        <h6>No tasks added into <i><b>{{listname}}</b></h6>
        {% else %}
        <h6 style="margin:0"><i><b>{{count2}}</b> &nbsp;</i>/ <i><b>{{total}} </b> &nbsp;</i> tasks completed from <i> <b>{{listname}}</b></i></h6>
        {% endif %}
    </div>
    
</div>
<!-- <nav class="navbar navbar-light bg-light justify-content-between">
<form class="form-inline">
        {{myFilter.form}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav> -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <!-- <form class="form-inline">
        
            <input class="form-check-input" type="checkbox" value="" name="check1" id="flexCheckChecked" checked>
            <a>All &nbsp;</a>
            <input type="checkbox" value="High" name="check1" class="form-check-input">
            <a>High &nbsp;</a>
            <input type="checkbox" value="Normal"  name="check2" class="form-check-input">
            <a>Normal &nbsp;</a>
            <input type="checkbox" value="Low"  name="check3" class="form-check-input">
            <a>Low &nbsp;</a>
            
          
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        
    </form> -->
    <form class="form-inline">
        <div class="d-flex justify-content-around">
        <!-- <label class="btn btn-sm btn-dark" style='margin-right:7px'>
            <input onChange="this.form.submit()" class="form-check-input" type="checkbox" value="" name="check" hidden > All
        </label> -->
        <span class="btn btn-sm btn-info" style='margin-right:8px'>
            <input style='margin-top:5px' onChange="this.form.submit()" type="checkbox" value="High" name="check1" class="form-check-input" {% if High_b  %}checked {% endif %}> High
        </span>
        <span class="btn btn-sm btn-primary" style='margin-right:8px'>
            <input style='margin-top:5px' onChange="this.form.submit()" type="checkbox" value="Normal"  name="check2" class="form-check-input" {% if Normal_b %}checked {% endif %}> Normal
        </span>
        <span class="btn btn-sm btn-secondary" style='margin-right:8px'>
            <input style='margin-top:5px' onChange="this.form.submit()" type="checkbox" value="Low"  name="check3" class="form-check-input" {% if Low_b %}checked {% endif %}> Low
        </span>
        </div>
        <!-- <button class="btn btn-success my-2 my-sm-2" type="submit" style='margin-right:7px'>Apply</button> -->
        
        <!-- <button class="badge-lg badge-light "  name="search-area-Priority" value="" style='margin-right:8px'> All</button>
        <button class="badge-lg badge-danger" name="search-area-Priority" value="High" style='margin-right:8px'> High</button>
        <button class="badge-lg badge-primary" name="search-area-Priority" value="Normal" style='margin-right:8px'> Normal</button>
        <button class="badge-lg badge-secondary" name="search-area-Priority" value="Low" style='margin-right:8px'> Low</button> -->
        
        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

        <div class="d-flex" >
            
            <input class="form-control form-control-sm mr-sm-2" type='search' name='search-area' value="{{search_input}}" placeholder="Search" aria-label="Search">
            
            {% load static %}
            <button class="btn btn-sm btn-light my-2 my-sm-0" type="submit"><img src="{% static 'base/search.svg' %}"></button>
            
        </div>
            
          
    </form>
    {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' list.id %}" style="text-decoration: none;"> &#x2b;</a>
    {% endif %}
</nav>

<!-- <div id="search-add-wrapper">
    
    {% if tasks|length > 0 %}
    <a id="add-link" href="{% url 'task-create' list.id %}" style="text-decoration: none;"> &#x2b;</a>
    {% endif %}
</div> -->




<div id="tasklist" class="task-items-wrapper" style="overflow:scroll; height:300px;">
    <!-- <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            <strong>&nbsp; Task Title:</strong>
            <strong>&nbsp; Task Description</strong>
        </div>
        <div class="task-controls">
            <strong> Priority&nbsp; Delete&nbsp;&nbsp;</strong>
        </div>
    </div> -->
    
    {% for task in tasks %}
        {% if task.id  %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.complete %}
                <!-- <div class="task-complete-icon"></div> -->
                <a>&#10003;</a>
                <!-- <form method="POST" action="">
                {% csrf_token %}
                
                <div class="form-check">
                    <input onchange="this.form.submit()" class="form-check-input" type="checkbox" value="{{task.complete}}" name="task-status" checked>
                </div>
                </form> -->
                <i><s><a title="{{task.description}}" href="{% url 'task-update' listid=list.id pk=task.id %}">{{task}}</a></s></i> 
                <!-- <i><a href="{% url 'task-update' listid=list.id pk=task.id %}">{{task.description}} </a></i>  -->
                {% else %}
                <!-- <div class="task-incomplete-icon"></div> -->
                <a>&nbsp;</a>
                <!-- <form method="POST" action="">
                    {% csrf_token %}
                    
                <div class="form-check">
                    <input onchange="this.form.submit()" class="form-check-input" type="checkbox"  value="{{task.complete}}" name="task-status">
                </div>
                </form> -->
                <a title="{{task.description}}" href="{% url 'task-update' listid=list.id pk=task.id %}">{{task}}</a>
                <!-- <a href="{% url 'task-update' listid=list.id pk=task.id %}">{{task.description}}</a> -->
                {% endif %}
            </div>
            <div class="task-controls">
                {% if task.priority == "High"  %}
                <span class="badge badge-pill badge-info">{{task.priority}}</span>
                {% elif task.priority == "Normal"  %}
                <span class="badge badge-pill badge-primary">{{task.priority}}</span>
                {% elif task.priority == "Low"  %}
                <span class="badge badge-pill badge-secondary">{{task.priority}}</span>
                {% endif %}
                <a href="{% url 'task-update' listid=list.id pk=task.id %}" style="text-decoration: none;">&nbsp;&nbsp;&nbsp;{% load static %}
                    <img src="{% static 'base/edit(1).svg' %}">&nbsp;&nbsp;&nbsp;</a>
                <!-- <a class="delete-link" href="{% url 'task-delete' listid=list.id pk=task.id %}" style="text-decoration: none;">&#215;&nbsp;&nbsp;&nbsp;</a> -->
                <a href="{% url 'task-delete' listid=list.id pk=task.id %}" style="text-decoration: none;">{% load static %}
                    <img src="{% static 'base/cross.svg' %}">&nbsp;&nbsp;&nbsp;</a>
            </div>
            
            
        </div>
        {% endif %}
        {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h5 style="color:black;">No new tasks are created.</h5>
            <h5 style="color:black;">Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' list.id %}"> New task</a> ! </h5>
        </div>
        
    {% endfor %}
</div>

{% endblock content%}

